/*------------------------------------------------------------*/
/* Chat Input */
/*------------------------------------------------------------*/

.chat-area {
	position: relative;
}

#chat-input-textarea {
	left: 50px;
	position: relative;
	width: calc(100% - 50px) !important;
}

/*------------------------------------------------------------*/



/*------------------------------------------------------------*/
/* User List */
/*------------------------------------------------------------*/
	
	.user-list li {
		width: 270px !important;
	}

	.user-list li > * {
		display: inline-block;
		vertical-align: middle;
	}

	.user-list div {
		line-height: 1;
	}

	.user-list li .user-list-status {
		color: #757575;
		transition: height 0.2s linear, opacity 0.3s linear;

		height: 0;
		opacity: 0;
	}

	.user-list.show-status li .user-list-status,
	.user-list li:hover .user-list-status {
		height: 1em;
		opacity: 1;
	}

	/* Highlight users you have blocked. */
	.user-list .client-block .user-list-username {
		color: #ed4337 !important;
	}
	.user-list-username {
		transition: color 0.3s linear;
	}

/*------------------------------------------------------------*/



/*------------------------------------------------------------*/
/* Messages List */
/*------------------------------------------------------------*/

	/* For hiding messages. */
	.messages-list .client-block {
		display: none !important;
	}

	.ngce-emotehide .msg-table .msg-text span[title^="ng"] {
		background: none;
		width: auto;
		height: auto;
		margin: 0;
	}

	.ngce-emotehide .msg-table .msg-text span[title^="ng"]::after {
		content: attr(title);
	}

/*------------------------------------------------------------*/



/*------------------------------------------------------------*/
/* Display Density */
/*------------------------------------------------------------*/
	
	.ngce-density-cozy .msg-table-cell-icon {
		width: 54px;
	}
	.ngce-density-cozy .msg-user-icon {
		width: 36px;
	}
	
	.ngce-density-compact .msg-table-cell-icon {
		width: 54px;
	}
	.ngce-density-compact .msg-user-icon {
		width: 36px;
		margin-bottom: 4px;
	}
	.ngce-density-compact .msg-text-area {
		margin-bottom: 0;
	}
	.ngce-density-compact .me-message-contents,
	.ngce-density-compact .server-message-contents {
		margin-bottom: 5px;
	}

/*------------------------------------------------------------*/



/*------------------------------------------------------------*/
/* Full Width */
/*------------------------------------------------------------*/
	
	.ngce-fullwidth .row {
		max-width: none;
	}

/*------------------------------------------------------------*/




/*------------------------------------------------------------*/
/* "More Mesages" Button */
/*------------------------------------------------------------*/

	.more-messages-area {
		transition: top 0.2s ease;
	}

	.ngce-emote-open .more-messages-area {
	    top: -335px !important;
	}

	.ngce-more-small .more-messages-area {
		height: 0 !important;
	    right: 2.5rem;
	    top: calc(-55px + 1rem) !important;
		width: 0 !important;
	}

	.ngce-more-small .more-messages-area a {
	    background: rgba(0,0,0,.7);
	    background-color: #000;
	    background-position: 50% 70%;
	    background-size: 80%;
	    border-radius: 1.5rem;
	    display: block;
	    position: absolute;
	    text-align: center;
		transition:
			width 0.3s cubic-bezier(.1,1,.3,1),
			height 0.3s cubic-bezier(.1,1,.3,1),
			margin 0.3s cubic-bezier(.1,1,.3,1);
	}

	.ngce-more-small .more-messages-area.hidden a {
		width: 0;
		height: 0;
		visibility: visible !important;
	}

	.ngce-more-small .more-messages-area.visible a {
		margin-top: -1.5rem;
		margin-left: -1.5rem;
		width: 3rem;
		height: 3rem;
	}

	.ngce-more-small.ngce-emote-open .more-messages-area {
	    top: calc(-335px + 1rem) !important;
	}

/*------------------------------------------------------------*/